/* Blog and Links Pages Styles */
.underlined_h3 {
    text-decoration: underline;
}

.content_heading {
    text-align: center;
    padding-bottom: 15px;
}

.tutorial_heading p {
    padding: 0px 110px;
}


.tutorial_heading {
    padding-bottom: 40px;
}

/* Table Styles */
table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

table,
th,
td {
    border: 2px solid black;
}

th {
    background-color: #5656FF;
    height: 100px;
    font-size: 36px;
}

td {
    height: 50px;
}

.table_sub_heading {
    height: 60px;
    font-size: 26px;
    background-color: #27AEf7;
}

